<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alewandowski.remote-server-control</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>14A92B38-50BD-4EFD-AB2A-A6A07A297EF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2FAF0BB-1D2C-4135-A35E-2D88D0AE30C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5B325B8-6C25-4ED4-9ED1-9BCC10568B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E09AB47-FD95-4F7F-9D07-8BC8744CE7D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4155BDC6-CFE7-4CC2-A65C-6D4C59875F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7035FAAE-C259-4E42-B3CF-0EE132A125D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A845DCB5-9D4E-4B5F-B439-8BE9EBB38A61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A845DCB5-9D4E-4B5F-B439-8BE9EBB38A61</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD5F12D4-9427-4339-9182-04CD493A5EF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2E57199D-6BF3-4D81-B530-DF69D4A3749C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FDA4FB5-B838-4109-A24B-7E8CC0BB1ED5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3EAE4F2D-9C62-47A3-9F4C-B9968AA52CE3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14A92B38-50BD-4EFD-AB2A-A6A07A297EF0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D81E9DD9-EF15-4672-8763-0F4490C8A8D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F89CE8B5-1F51-470B-AF39-3D3DE6E72017</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>49B5D29F-261C-4071-AA2F-401D5EB786EC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6E09AB47-FD95-4F7F-9D07-8BC8744CE7D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>914226EA-38B1-425E-804B-5A02ADF9644A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2FAF0BB-1D2C-4135-A35E-2D88D0AE30C3</key>
		<array/>
		<key>F89CE8B5-1F51-470B-AF39-3D3DE6E72017</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24E3ABF8-FF1B-47C2-A8FC-D93DCBAB0D06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD5F12D4-9427-4339-9182-04CD493A5EF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B754EA1-BFD2-4D1C-9769-0C295EF7DBE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Arnaud Lewandowski</string>
	<key>description</key>
	<string>Wake on LAN, ssh, sshfs, and shutdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Remote Server Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>wakeonlan -i ${remote_ip} -p ${remote_wol_port} ${remote_mac}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD5F12D4-9427-4339-9182-04CD493A5EF1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"wakeonlan" signal sent to {var:remote_mac}</string>
				<key>title</key>
				<string>Remote PC</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B754EA1-BFD2-4D1C-9769-0C295EF7DBE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>1</integer>
				<key>script</key>
				<string>ssh -i {var:identity_file} -p {var:remote_ssh_port} {var:username}@{var:remote_ip}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9FDA4FB5-B838-4109-A24B-7E8CC0BB1ED5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Mount remote directory{var:username}@{var:remote_ip}:{var:remote_folder} &gt;&gt; {var:local_folder}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D2FAF0BB-1D2C-4135-A35E-2D88D0AE30C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [[ `ls ${local_folder} | wc -m` -ne 0 ]]; then
  
  umount "${local_folder}" &amp;&gt; /dev/null
fi

sshfs -p ${remote_ssh_port} ${username}@${remote_ip}:${remote_folder} "${local_folder}" -o volname="${local_folder##*/}" -oIdentityFile=${identity_file} &amp;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>sshfs.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14A92B38-50BD-4EFD-AB2A-A6A07A297EF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>wakeonlan</string>
						<key>outputlabel</key>
						<string>wakeonlan</string>
						<key>uid</key>
						<string>2E57199D-6BF3-4D81-B530-DF69D4A3749C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ssh</string>
						<key>outputlabel</key>
						<string>ssh</string>
						<key>uid</key>
						<string>3EAE4F2D-9C62-47A3-9F4C-B9968AA52CE3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>sshfs</string>
						<key>outputlabel</key>
						<string>sshfs</string>
						<key>uid</key>
						<string>D81E9DD9-EF15-4672-8763-0F4490C8A8D3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>umount</string>
						<key>outputlabel</key>
						<string>umount</string>
						<key>uid</key>
						<string>49B5D29F-261C-4071-AA2F-401D5EB786EC</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>shutdown</string>
						<key>outputlabel</key>
						<string>shutdown</string>
						<key>uid</key>
						<string>914226EA-38B1-425E-804B-5A02ADF9644A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A845DCB5-9D4E-4B5F-B439-8BE9EBB38A61</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:local_folder}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>A5B325B8-6C25-4ED4-9ED1-9BCC10568B63</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>remote</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Trying to reach remote host...</string>
				<key>script</key>
				<string># ping -c 1 -i 0.2 -W 3 ${remote_ip} &amp;&gt; /dev/null

# Est-ce qu'on a du reseau ?
ping -c 1 -W 100 www.google.com &amp;&gt; /dev/null 
PING_STATUS=$?

if [[ PING_STATUS -ne 0 ]]; then

  cat &lt;&lt; EOB
  {"items": [
	{
	  "title": "Remote PC",
	  "subtitle": "No Internet access",
	  "arg": "nothing",
	}
  ]}  
EOB

exit 0
fi

# Est-ce que le routeur repond ?
ping -c 1 -W 100 82.64.195.194 &amp;&gt; /dev/null 
PING_STATUS=$?

if [[ PING_STATUS -ne 0 ]]; then

  cat &lt;&lt; EOB
  {"items": [
	{
	  "title": "Remote PC",
	  "subtitle": "Host not reachable",
	  "arg": "nothing",
	}
  ]}
  
EOB

exit 0
fi

# Est-ce que le serveur tourne ?
nc -G 1 82.64.195.194 32769 &amp;&gt; /dev/null
PING_STATUS=$?

if [[ PING_STATUS -eq 0 ]]; then

  if [[ `ls ${local_folder} | wc -m` -eq 0 ]]; then 

  cat &lt;&lt; EOB
  {"items": [
	{
	  "title": "SSH Remote PC",
	  "subtitle": "ssh ${username}@${remote_ip}",
	  "arg": "ssh",
      "icon": { "path": "icons/ssh.png"}
	},
	{
	  "title": "Mount Remote PC Folder",
	  "subtitle": "sshfs ${username}@${remote_ip}:${remote_folder} \"${local_folder}\" -o volname=\"${local_folder##*/}\"",
	  "arg": "sshfs",
      "icon": { "path": "icons/network.png"}
	},
	{
	  "title": "Shutdown Remote PC",
	  "subtitle": "ssh ${username}@${remote_ip} &amp; sudo shutdown",
	  "arg": "shutdown",
      "icon": { "path": "icons/switch-off.png"}
	}
  ]}

EOB
  else 

  cat &lt;&lt; EOB
  {"items": [
	{
	  "title": "SSH Remote PC",
	  "subtitle": "ssh ${username}@${remote_ip}",
	  "arg": "ssh",
      "icon": { "path": "icons/ssh.png"}
	},
	{
	  "title": "Unmount Remote PC Folder",
	  "subtitle": "umount \"${local_folder}\" ",
	  "arg": "umount",
      "icon": { "path": "icons/network.png"}
	},
	{
	  "title": "Shutdown Remote PC",
	  "subtitle": "ssh ${username}@${remote_ip} &amp; sudo shutdown",
	  "arg": "shutdown",
      "icon": { "path": "icons/switch-off.png"}
	}
  ]}

EOB
  fi


else

  cat &lt;&lt; EOB
  {"items": [
	{
	  "title": "Start Remote PC",
	  "subtitle": "wakeonlan $remote_mac",
	  "arg": "wakeonlan",
	}
  ]}
  
EOB

fi


</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>remote.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Remote PC</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7035FAAE-C259-4E42-B3CF-0EE132A125D9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>umount "${local_folder}" &amp;&gt; /dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F89CE8B5-1F51-470B-AF39-3D3DE6E72017</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Unmount directory {var:local_folder}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>24E3ABF8-FF1B-47C2-A8FC-D93DCBAB0D06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>umount ${local_folder} &amp;&gt; /dev/null ; ssh -p ${remote_ssh_port} ${username}@${remote_ip} -oIdentityFile=${identity_file} sudo shutdown</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E09AB47-FD95-4F7F-9D07-8BC8744CE7D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"shutdown" command sent to {var:remote_ip}</string>
				<key>title</key>
				<string>Remote PC</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4155BDC6-CFE7-4CC2-A65C-6D4C59875F82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Requirements &amp; setup

On remote PC:
- enable Wake On LAN ([tutorial here](https://www.howtogeek.com/70374/how-to-geek-explains-what-is-wake-on-lan-and-how-do-i-enable-it/) )
- ssh server running
- enable `sudo shutdown` command without entering password ([tutorial here](https://stackoverflow.com/questions/25896524/shutdown-in-linux-without-sudo) ) 
- if the remote PC is behind a router, make sure the router have a public static IP, and will redirect some ports to the remote PC for wake-on-lan and ssh connection (if you want the workflow to work over the Internet) 

On local machine:
- wakeonlan installed locally (with [homebrew](https://formulae.brew.sh/formula/wakeonlan) )
- setup an SSH key pair for logging into the remote PC via SSH without having to enter a password ([tutorial here](https://www.pragmaticlinux.com/2021/05/configure-ssh-for-login-without-a-password/) )
- in Alfred workflow configuration, define adresses, ports, username, remote folder to mount, local mounting point, etc.


## Credits 

Icons designed by [Freepik from Flaticon](https://www.flaticon.com/authors/freepik)</string>
	<key>uidata</key>
	<dict>
		<key>14A92B38-50BD-4EFD-AB2A-A6A07A297EF0</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>1B754EA1-BFD2-4D1C-9769-0C295EF7DBE0</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>24E3ABF8-FF1B-47C2-A8FC-D93DCBAB0D06</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>4155BDC6-CFE7-4CC2-A65C-6D4C59875F82</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>6E09AB47-FD95-4F7F-9D07-8BC8744CE7D3</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>7035FAAE-C259-4E42-B3CF-0EE132A125D9</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>9FDA4FB5-B838-4109-A24B-7E8CC0BB1ED5</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>A5B325B8-6C25-4ED4-9ED1-9BCC10568B63</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>A845DCB5-9D4E-4B5F-B439-8BE9EBB38A61</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>D2FAF0BB-1D2C-4135-A35E-2D88D0AE30C3</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>F89CE8B5-1F51-470B-AF39-3D3DE6E72017</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>FD5F12D4-9427-4339-9182-04CD493A5EF1</key>
		<dict>
			<key>xpos</key>
			<real>525</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Remote PC is behind a router</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>router_used</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>or remote router IP if router redirects port to PC</string>
			<key>label</key>
			<string>Remote PC IP address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>remote_ip</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>9</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>may be useful if remote PC is behind a router that redirects wakeonlan signal on specific port</string>
			<key>label</key>
			<string>Remote port for wakeonlan</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>remote_wol_port</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>22</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Remote PC (or router) SSH port</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>remote_ssh_port</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>for wakeonlan</string>
			<key>label</key>
			<string>Remote PC MAC address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>remote_mac</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>SSH username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>username</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>0</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>for ssh connection without password</string>
			<key>label</key>
			<string>Identity file</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>identity_file</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Remote folder to be mounted</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>remote_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Destination folder for mount</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>local_folder</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/alewandows/alfred-remote-server-control</string>
</dict>
</plist>
